*{
margin:0;
padding:0;
box-sizing:border-box;
}
.container{
    background:orange;
}

.Nav{
 display: flex;
justify-content:space-between;
align-items:center;
padding:10px 24px;
background: #111;
}
.nav a:hover{
color:#aaa;
}
.nav a{
   color:white;
text-decoration:none;
font-family:sans-serif;
}

h1{

    color:red;
}